RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_VIRTUAL_HOST=/
RABBITMQ_USERNAME=rmuser
RABBITMQ_PASSWORD=rmpassword
BOT_TOKEN=1111111111:ААААААААААААААААААААААААААААААААААА
SECRET_KEY=123456
COOKIE_NAME=user_id
CONNECTION_URL=postgresql://username:password@host.docker.internal:host/database